In [1]:
from pathlib import Path
import requests

def download_file_of_raw_data(year:int, month:int) -> Path:
    """"
        Uses requests library to fetch raw data from the provided URL

        Inputs:
            year, integer
            month, integer

        Outputs:
            Parquet file
    """
    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet"
    response = requests.get(URL)

    # status_code 200 -> SUCESSFUL get call
    if response.status_code == 200:
        path = f'../data/raw/rides_{year}-{month:02d}.parquet'
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f"{URL} is not available")

In [2]:
download_file_of_raw_data(2024, 2)

'../data/raw/rides_2024-02.parquet'

In [4]:
#IMporting pandas to access read_parquet
import pandas as pd

rides = pd.read_parquet("../data/raw/rides_2024-02.parquet")

rides.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-01 00:04:45,2024-02-01 00:19:58,1.0,4.39,1.0,N,68,236,1,20.5,1.0,0.5,1.28,0.00,1.0,26.78,2.5,0.00
1,2,2024-02-01 00:56:31,2024-02-01 01:10:53,1.0,7.71,1.0,N,48,243,1,31.0,1.0,0.5,9.00,0.00,1.0,45.00,2.5,0.00
2,2,2024-02-01 00:07:50,2024-02-01 00:43:12,2.0,28.69,2.0,N,132,261,2,70.0,0.0,0.5,0.00,6.94,1.0,82.69,2.5,1.75
3,1,2024-02-01 00:01:49,2024-02-01 00:10:47,1.0,1.10,1.0,N,161,163,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
4,1,2024-02-01 00:37:35,2024-02-01 00:51:15,1.0,2.60,1.0,N,246,79,2,15.6,3.5,0.5,0.00,0.00,1.0,20.60,2.5,0.00
5,1,2024-02-01 00:55:17,2024-02-01 01:01:53,1.0,0.80,1.0,N,79,4,1,7.9,3.5,0.5,2.55,0.00,1.0,15.45,2.5,0.00
6,2,2024-02-01 00:04:53,2024-02-01 00:17:07,1.0,2.76,1.0,N,249,163,1,14.2,1.0,0.5,3.84,0.00,1.0,23.04,2.5,0.00
7,2,2024-02-01 00:35:00,2024-02-01 00:43:37,1.0,2.51,1.0,N,163,151,1,12.8,1.0,0.5,3.56,0.00,1.0,21.36,2.5,0.00
8,2,2024-02-01 00:00:15,2024-02-01 00:05:07,1.0,1.37,1.0,N,246,48,2,7.9,1.0,0.5,0.00,0.00,1.0,12.90,2.5,0.00
9,2,2024-02-01 00:25:55,2024-02-01 00:31:52,1.0,1.59,1.0,N,107,233,1,9.3,1.0,0.5,2.86,0.00,1.0,17.16,2.5,0.00
10,2,2024-02-01 00:34:58,2024-02-01 00:35:16,1.0,0.07,1.0,N,170,170,2,3.0,1.0,0.5,0.00,0.00,1.0,8.00,2.5,0.00
11,2,2024-02-01 00:06:18,2024-02-01 00:36:07,1.0,7.28,1.0,N,140,36,1,35.2,1.0,0.5,5.00,0.00,1.0,45.20,2.5,0.00
12,2,2024-02-01 00:15:29,2024-02-01 00:17:41,1.0,0.72,1.0,N,141,229,1,5.1,1.0,0.5,1.00,0.00,1.0,11.10,2.5,0.00
13,2,2024-02-01 00:03:06,2024-02-01 00:14:21,1.0,5.55,1.0,N,239,244,3,-23.3,-1.0,-0.5,0.00,0.00,-1.0,-28.30,-2.5,0.00
14,2,2024-02-01 00:03:06,2024-02-01 00:14:21,1.0,5.55,1.0,N,239,244,3,23.3,1.0,0.5,0.00,0.00,1.0,28.30,2.5,0.00
15,1,2024-02-01 00:27:11,2024-02-01 00:31:07,1.0,1.20,1.0,N,231,113,1,7.2,3.5,0.5,3.05,0.00,1.0,15.25,2.5,0.00
16,1,2024-02-01 00:58:03,2024-02-01 01:05:53,1.0,1.20,1.0,N,68,137,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
17,2,2024-02-01 00:52:10,2024-02-01 01:00:18,1.0,3.42,1.0,N,137,263,1,14.9,1.0,0.5,3.98,0.00,1.0,23.88,2.5,0.00
18,1,2024-02-01 00:06:49,2024-02-01 00:11:54,1.0,1.50,1.0,N,236,75,1,7.9,3.5,0.5,2.60,0.00,1.0,15.50,2.5,0.00
19,1,2024-02-01 00:51:08,2024-02-01 01:03:51,1.0,2.10,1.0,N,162,90,1,12.1,3.5,0.5,0.00,0.00,1.0,17.10,2.5,0.00

In [7]:
rides.describe().T

,count,mean,min,25%,50%,75%,max,std
VendorID,3007526.0,1.755233,1.0,2.0,2.0,2.0,2.0,0.429949
tpep_pickup_datetime,3007526,2024-02-15 19:00:15.784785,2008-12-31 22:52:49,2024-02-08 14:23:28.250000,2024-02-15 18:16:29,2024-02-23 08:14:51.750000,2024-03-01 00:01:37,NaN
tpep_dropoff_datetime,3007526,2024-02-15 19:16:14.730475,2008-12-31 23:04:09,2024-02-08 14:42:41.250000,2024-02-15 18:32:58,2024-02-23 08:30:41.500000,2024-03-01 23:24:42,NaN
passenger_count,2821916.0,1.325938,0.0,1.0,1.0,1.0,9.0,0.832402
trip_distance,3007526.0,3.860859,0.0,1.0,1.69,3.1,222478.29,254.673455
RatecodeID,2821916.0,2.115167,1.0,1.0,1.0,1.0,99.0,10.068892
PULocationID,3007526.0,165.582923,1.0,132.0,162.0,234.0,265.0,63.960931
DOLocationID,3007526.0,164.499876,1.0,114.0,162.0,234.0,265.0,69.292027
payment_type,3007526.0,1.135889,0.0,1.0,1.0,1.0,4.0,0.590485
fare_amount,3007526.0,18.047294,-999.0,8.6,12.8,20.5,9792.0,18.634542
extra,3007526.0,1.445108,-7.5,0.0,1.0,2.5,14.25,1.797459
mta_tax,3007526.0,0.483416,-0.5,0.5,0.5,0.5,5.75,0.117748
tip_amount,3007526.0,3.302842,-140.0,0.9,2.7,4.14,543.33,3.82811
tolls_amount,3007526.0,0.507605,-58.45,0.0,0.0,0.0,99.99,2.080807
improvement_surcharge,3007526.0,0.975366,-1.0,1.0,1.0,1.0,1.0,0.219081
total_amount,3007526.0,26.624413,-1000.0,15.48,20.16,28.64,9792.0,22.972283
congestion_surcharge,2821916.0,2.266473,-2.5,2.5,2.5,2.5,2.5,0.813374
Airport_fee,2821916.0,0.129119,-1.75,0.0,0.0,0.0,1.75,0.46873

In [8]:
# Will be only looking as pickup information like time and location
rides = rides[["tpep_pickup_datetime", "PULocationID"]]

In [9]:
rides.rename(columns = {
    "tpep_pickup_datetime" : "pickup_datetime",
    "PULocationID" : "pickup_location_id"
}, inplace=True)

rides.head(20)

       pickup_datetime  pickup_location_id
0  2024-02-01 00:04:45                  68
1  2024-02-01 00:56:31                  48
2  2024-02-01 00:07:50                 132
3  2024-02-01 00:01:49                 161
4  2024-02-01 00:37:35                 246
5  2024-02-01 00:55:17                  79
6  2024-02-01 00:04:53                 249
7  2024-02-01 00:35:00                 163
8  2024-02-01 00:00:15                 246
9  2024-02-01 00:25:55                 107
10 2024-02-01 00:34:58                 170
11 2024-02-01 00:06:18                 140
12 2024-02-01 00:15:29                 141
13 2024-02-01 00:03:06                 239
14 2024-02-01 00:03:06                 239
15 2024-02-01 00:27:11                 231
16 2024-02-01 00:58:03                  68
17 2024-02-01 00:52:10                 137
18 2024-02-01 00:06:49                 236
19 2024-02-01 00:51:08                 162

In [10]:
rides["pickup_datetime"].describe()

count                       3007526
mean     2024-02-15 19:00:15.784785
min             2008-12-31 22:52:49
25%      2024-02-08 14:23:28.250000
50%             2024-02-15 18:16:29
75%      2024-02-23 08:14:51.750000
max             2024-03-01 00:01:37
Name: pickup_datetime, dtype: object

In [11]:
rides = rides[rides.pickup_datetime >= '2024-02-01']
rides = rides[rides.pickup_datetime < '2024-03-01']
rides['pickup_datetime'].describe()

count                       3007511
mean     2024-02-15 19:05:37.020398
min             2024-02-01 00:00:00
25%             2024-02-08 14:23:33
50%             2024-02-15 18:16:32
75%      2024-02-23 08:14:53.500000
max             2024-02-29 23:59:58
Name: pickup_datetime, dtype: object

In [12]:
rides.to_parquet('../data/transformed/validated_rides_2024_02.parquet')